[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
rpc = {file = "http://github.com/vphpersson/rpc/tarball/master"}
msdsalgs = {file = "https://github.com/vphpersson/msdsalgs/tarball/master"}

[requires]
python_version = "3.8"
