git+https://github.com/vphpersson/rpc.git#egg=rpc
git+https://github.com/vphpersson/msdsalgs.git#egg=msdsalgs
git+https://github.com/vphpersson/ndr.git#egg=ndr
git+https://github.com/vphpersson/smb.git#egg=smb
